* {
    padding: 0;
    margin: 0;
    border: 0; 
}

header {
    text-align: center;
    font-size: 0.6cm;
    color: rgba(236, 233, 233, 0.801);
    height: 7vh;
    font-family: 'WaltographRegular';
    font-weight: normal;
    font-style: normal;
}

.explicacaodojogo {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgba(236, 233, 233, 0.781);
    align-items: center;
    padding: 1%;
    font-size: 0.5cm ;
}

body {
    background-image: url(../img/solreileaom1.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}

.personagens {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

.container img {
    width: 300px;
    height: 295px;
}

div .container {
    width: 300px;
}

#personagem1 {
    border: solid 8px rgb(196, 178, 171);
    padding: 10px;
    background-color: rgb(196, 178, 171);
    border-radius: 3%;
}

#personagem2 {
    margin-left: 0px;
    border: solid 8px rgba(196, 178, 171);
    padding: 10px;
    margin-right: 0px;
    background-color: rgba(196, 178, 171);
    border-radius: 3%;
}

#personagem3 {
    margin-left: 0px;
    border: solid 8px rgb(196, 178, 171);
    padding: 10px;
    margin-right: 0px;
    background-color: rgb(196, 178, 171);
    border-radius: 3%;
}

button {
    width: 300px;
    height: 40px;
    background-color: #ffb220;
    border-radius: 20cm;
    align-items: center;
    font-size: 0.6cm;
    text-decoration: none;
    cursor: pointer;
}

ul li {
    list-style-type: none;
}

h2 {
    text-align: center;
}

a{
    text-decoration: none;
    align-items: center;
    color: black;
}

button:hover{
    background-color: orangered;
    height: 50px;
    font-size: 40px;
}

footer{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 0.5cm;
    color: white;
    text-align: center;
    height: 10vh;
}
.prejogo1{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 80vh;
}
.container{
    display: flex;
    flex-direction: column;
    align-content: space-between;
}