*{
    padding: 0;
    border: 0;
    margin: 0;
}
header{
    text-align: center;
    font-family: 'Square Peg', cursive;
    font-size: 70%;
    color: white;
}

body{
    background-image: url(../img/fase1.jpg);
    text-align: center;
    font-family: 'WaltographRegular';
    font-size: 350%;
    color: red;
    background-repeat: no-repeat;
    background-size: 100%;
}
button{
    width: 300px;
    height: 40px;
    background-color: blueviolet;
    border-radius: 10px;
    font-size: 60%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

button:hover{
    width: 310px;
    height: 50px;
    background-color: blue;
    color: white;
}