*{
    padding: 0;
    border: 0;
    margin: 0;
}

body{
    background-image: url(./rafikigo.gif);
    background-repeat: no-repeat;
    background-size: 100%;
}

h1{
    font-family: 'WaltographRegular';
    font-size: 2cm;
    color: azure;
    text-align: center;
}
p{
    font-family: 'WaltographRegular';
    font-size: 800%;
    color: azure;
    text-align: center;
    padding: 1%;
}
button{
    display: flex;
    width: 300px;
    height: 50px;
    margin-top: 40px;
    font-size: 1cm;
    background-color: tomato;
    border-radius: 5cm;
    text-decoration: none;
    align-items: center;
    justify-items: center;
    justify-content: center;
}

a{
    color: inherit;
    text-decoration: none;
}

button:hover{
    background-color: yellowgreen;
    font-size: 1cm;
    width: 320px;
    height: 60px;
    }