*{
    padding: 0;
    border: 0;
    margin: 0;
}
header{
    text-align: center;
    font-family: 'Square Peg', cursive;
    font-size: 1cm;
    color: yellowgreen;
}

.pergunta{
    text-align: center;
    font-size: 250%;
    font-family: 'WaltographRegular';
    color: blue;
    padding: 1%;

}

button{
    width: 300px;
    height: 40px;
    background-color: skyblue;
    border-radius: 10px;
    font-size: 0.8cm;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

button:hover{
    width: 310px;
    height: 50px;
    background-color: tomato;
    color: white;
}

body{
    background-image: url(./rafiki2.jpg);
    background-repeat: no-repeat;
    background-size: 140%;
}