*{
    padding: 0;
    border: 0;
    margin: 0;
}
header{
    text-align: center;
    font-family: 'Square Peg', cursive;
    font-size: 1cm;
    color: skyblue;
}

.pergunta{
    text-align: center;
    font-size: 1cm;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: red;
    margin-top: 60px;
}

button{
    width: 300px;
    height: 40px;
    background-color: pink;
    border-radius: 10px;
    font-size: 0.8cm;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 130px;
}

button:hover{
    width: 310px;
    height: 50px;
    background-color: blue;
    color: white;
}

body{
    background-image: url(./tp2.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}